* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 头部 */
header {
    height: 76px;
    width: 100%;
    /* background-color: pink; */
    box-shadow: -1px -1px 7px gray;
}

header .headerTop {
    width: 65%;
    height: 100%;
    margin: 0 auto;
}

header .headerTop .left {
    width: 20%;
    height: 100%;
    float: left;
}

header .headerTop .left img {
    width: 68%;
    margin-top: 10px;
}

header .headerTop .center {
    width: 60%;
    height: 100%;
    float: left;
}

header .headerTop .center li {
    float: left;
    margin-right: 48px;
    margin-top: 30px;

}

header .headerTop .center li a {
    color: #333333;
    transition: color 0.2s ease;
    font-size: 20px;
}

header .headerTop .center li .active {
    color: #fe5341;
}

header .headerTop .center li a:hover {
    color: #fe5341;
}

header .headerTop .right {
    width: 20%;
    height: 100%;
    float: left;
}

header .headerTop .right a:nth-of-type(1) {
    /* display: inline-block; */
    width: 33%;
    height: 100%;
    float: left;
    margin-top: 28px;
    background: url(../css/img/search.png) no-repeat;
}

header .headerTop .right a:nth-of-type(2) {
    /* display: inline-block; */
    width: 33%;
    height: 100%;
    float: left;
    /* margin-top: 28px; */
    color: #fe5341;
    transition: all 0.15s linear;
    margin-top: 23px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    margin-right: 26px;
    border: 1px #fe5341 solid;
}

header .headerTop .right a:nth-of-type(3) {
    /* display: inline-block; */
    width: 33%;
    height: 100%;
    float: left;
    /* margin-top: 28px; */
    color: #fe5341;
    transition: all 0.15s linear;
    margin-top: 23px;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: 1px #fe5341 solid;
}

/* 主体部分 */
main .title {
    width: 65%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    color: #a3a3a3;
    font-size: 12px;
}

main {
    background: #f7f7f7;
    margin-top: 5px;
}

main .content {
    width: 65%;
    height: 5000px;
    margin: 0 auto;
    padding-bottom: 40px;
    position: relative;
    /* margin-bottom: 40px; */
}

main .content .contentl {
    width: 70%;
    height: 100%;
    background: #fff;
    border-radius: 6px;
}

main .content .contentl .text1 {
    width: 100%;
    height: 127px;
    padding: 24px;
    box-sizing: border-box;
    border-bottom: 1px #e0e0e0 solid;
}

main .content .contentl .text1 h1 {
    font-weight: normal;
    font-size: 26px;
    padding-bottom: 15px;
}

main .content .contentl .text1 span:nth-of-type(1),
main .content .contentl .text1 span:nth-of-type(2) {
    float: left;
    color: #a3a3a3;
    font-size: 12px;
}

main .content .contentl .text1 span:nth-of-type(1) {
    width: 20px;
    height: 20px;
    background: url(../css/img/tx.jpg) no-repeat 0px 0px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: 3px;
}

main .content .contentl .text1 span:nth-of-type(2) {
    margin-top: 5px;
}

main .content .contentl .text1 span:nth-of-type(3) {
    float: right;
    color: #a3a3a3;
    font-size: 12px;
    margin-top: 5px;
}

main .content .contentl .text2 {
    font-size: 14px;
    line-height: 23px;
    padding: 19px 24px 20px;
}

main .content .contentl .text2 .acenter {
    text-align: center;
    font-size: 16px;
}

main .content .text3 {
    padding: 50px 19px 24px 20px;
    box-sizing: border-box;
}

main .content .text3 p a {
    color: #a3a3a3;
    font-size: 14px;
}

main .content .contentr {
    background-color: #fff;
    width: 270px;
    height: 110px;
    /* background-color: pink; */
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 0px 4px 4px rgb(240, 237, 237);
    border-radius: 5px;
    border: 1px solid rgb(243, 240, 240);
    border-right: none;
}

main .content .contentr a {
    float: left;
    width: 50%;
    height: 100%;
    border: 1px solid rgb(239, 238, 238);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    color: #a3a3a3;
    border-bottom: none;
}

main .content .contentr a:nth-of-type(1) {
    border-radius: 5px 0px 0px 5px;
}

main .content .contentr a:nth-of-type(2) {
    border-radius: 0px 5px 5px 0px;
}

main .content .contentr a span {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 30px;
    height: 30px;
}

main .content .contentr a:nth-of-type(1) span {
    background: url(../css/img/xinRedo.png) no-repeat center center;
}

main .content .contentr a:nth-of-type(2) span {
    background: url(../css/img/share_yj1.png) no-repeat center center;
}

main .content .contentr a p {
    margin-top: 50%;
    text-align: center;
}

/* 底部 */
footer {
    width: 100%;
    height: 360px;
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #555;
    color: #aaa;
}

.foot {
    width: 75%;
    height: 300px;
    margin: 0 auto;
}

footer .foot .fl {
    float: left;
}

.foot_text {
    width: 100%;
    height: 210px;
}

.fo_1 {
    overflow: hidden;
}

.fo_1 img {
    width: 160px;
    height: 160px;
}

.fo_2 {
    width: 140px;
    padding-left: 35px;
    font-size: 13px;
}

.fo_2 img {
    margin-bottom: 20px;
}

.fo_2 p {
    margin-bottom: 15px;
}

.fo_3 {
    width: 100px;
    padding-left: 35px;
}

.fo_3 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_3 a {
    font-size: 13px;
    color: #aaa;
}

.fo_4 {
    width: 140px;
    padding-left: 35px;
}

.fo_4 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_4 p {
    height: 20px;
}

.fo_4 span {
    float: left;
    width: 70px;
    height: 20px;
}

.fo_4 a {
    font-size: 13px;
    color: #aaa;
}

.fo_5 {
    width: 150px;
    padding-left: 35px;
}

.fo_5 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_5 a {
    font-size: 13px;
    color: #aaa;
}

.fo_6 {
    width: 180px;
    padding-left: 35px;
}

.fo_6 h4 {
    color: #fff;
    margin-bottom: 30px;
}

.fo_6 a {
    font-size: 13px;
    color: #aaa;
}

.end {
    padding-top: 80px;
    font-size: 13px;
    text-align: center;
}